@using WorldDiscovery.Core.Features.Identity
@inject WorldDiscovery.Core.Features.GlobalMessage Global
@inject WorldDiscovery.Core.Features.Identity.IdentityManagement Management

<h3>Create</h3>

<SimpleForm>
    <TextEdit @bind-Text="@Input.FirstName"></TextEdit>
    <TextEdit @bind-Text="@Input.LastName"></TextEdit>
    <button @onclick="ClickAsync" type="button" class="button">Submit</button>
</SimpleForm>

@code 
{
    public PersonNewInput Input { get; set; } = new PersonNewInput();

    public string Message { get; set; }

    async Task ClickAsync()
    {
        var result = await Management.SaveAsync(Input);
    }
}
