@page "/"
@using WorldDiscovery.Core.Features
@inject LayoutDataService Layout


<div class="columns">
    <div class="column">
        <Card Background="Background.Light">
            <CardBody>
                <h1>Welcome to World Discovery</h1>
            </CardBody>
        </Card>

    </div>
    <div class="column">
        <WorldDiscovery.GraphServer.Components.Identity.Create></WorldDiscovery.GraphServer.Components.Identity.Create>
    </div>
</div>

@code {
    protected override async Task OnInitAsync()
    {
        Layout.PageTitle = "Home";
    }
}