@inherits LayoutComponentBase
@using WorldDiscovery.Core.Features
@using System.Threading
@inject WorldDiscovery.Core.Features.LayoutDataService LayoutData

<header>
    <div class="container">
        <h1 class="title is-1">World Discovery - @LayoutData.PageTitle</h1>
    </div>
</header>
<br/>
<div class="container">
    @Body
</div>

@code
{ 
    public string Title { get; set; }

    protected override Task OnInitAsync()
    {
        LayoutData.PropertyChanged += OnPropertyChanged;
        return Task.CompletedTask;
    }

    private void OnPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
          StateHasChanged();
    }
}