@inherits LayoutComponentBase
@using WorldDiscovery.Core.Features
@inject WorldDiscovery.Core.Features.LayoutDataService LayoutData

<header>
    <div class="container">
        <h1 class="title is-1">World Discovery - @LayoutData.PageTitle</h1>
    </div>
</header>

<section class="section">
    <div class="container">
        <Alert Color="@MessageColor">
            @LayoutData.Message.Value
        </Alert>
    </div>
</section>

<br />
<div class="container">
    @Body
</div>

@code
{
    Color MessageColor => LayoutData.Message.Type switch
    {
        MessageType.Info => Color.Info,
        MessageType.Success => Color.Success,
        MessageType.Warning => Color.Warning,
        MessageType.Error => Color.Danger,
        _ => Color.Info
    };

    protected override void OnInit()
    {
        LayoutData.PropertyChanged += OnPropertyChanged;
        
        base.OnInit();
    }

    private void OnPropertyChanged(object sender, System.ComponentModel.PropertyChangedEventArgs e)
    {
        Invoke(base.StateHasChanged);
    }
}